@import '../../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-angular-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
.palette-section{
    width: 15%;
    height: 100%;
    float: left;
}

.diagram-section{
    width: 85%;
    height: 100%;
    float: right;
}